In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\anand\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\anand\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\anand\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\anand\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anand\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
#Imports
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

###### Q.1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [4]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("http://www.amazon.in.")

In [5]:
All=driver.find_element(By.XPATH,"//select[contains(@id,'searchDropdownBox')]")
All.send_keys('Watches')
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

##### Q.2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“

In [6]:
BrandName=[]
Name=[]
Price=[]
Return=[]
Delivery=[]
URL=[]

In [9]:
start=1
end=4
next_button=driver.find_element(By.XPATH,"//a[contains(@class,'s-pagination-item s-pagination-next s-pagination-button s-pagination-separator')]")
next_button.click()
time.sleep(3)
for i in driver.find_elements(By.XPATH,"//h5[contains(@class,'s-line-clamp-1')]"):
    BrandName.append(i.text)
for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'a-size-mini a-spacing-none a-color-base s-line-clamp-2')]"):
    Name.append(i.text) 
for i in driver.find_elements(By.XPATH,"//span[contains(@class,'a-price-whole')]"):
    Price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[contains(@class,'a-color-base a-text-bold')]"):
    Delivery.append(i.text)

    
data=list(zip(BrandName,Name,Price,Delivery))
df=pd.DataFrame(data,columns=["Brand Name","Name of the Product","Price","Expected Delivery"])
df

,Brand Name,Name of the Product,Price,Expected Delivery
0,TIMEX,Analog Gold Dial Women's Watch-TW000Q810,"2,417","Monday, November 7"
1,TIMEX,Analog Black Dial Men's Watch-TW000U914,"2,398","Monday, November 7"
2,Sonata,Analog White Dial Men's Watch-NN7954YM01W/NP79...,"1,189","Saturday, November 5"
3,Titan,"Neo Men’s Designer Watch - Quartz, Water Resis...","1,996","Monday, November 7"
4,TIMEX,Analog Women's Watch,"1,449","Monday, November 7"
5,DANIEL KLEIN,Analog Black Dial Women's Watch-DK11421-5,999,"Saturday, November 5"
6,Sonata,Analog Black Dial Men's Watch-NN7924NM01/NP792...,"1,340","Monday, November 7"
7,Fastrack,Casual Analog Black Dial Men's Watch-NL3121SM0...,"1,295","Monday, November 7"
8,Casio,Analog White Dial Men's Watch-MTP-V300L-7AUDF ...,"3,795","Monday, November 7"
9,Fastrack,New Fastrack Reflex Hello|BT Calling|1.69” HD ...,"3,994","Monday, November 7"
10,Fastrack,Bold Analog Black Dial Men's Watch-NL38051SM07,"1,325","Monday, November 7"
11,Casio,Analog Black Dial Men's Watch-MTP-1374HD-2AVIF...,"5,995","Saturday, November 5"
12,Titan,Autumn-Winter 19 Analog Rose Gold Dial Women's...,"3,727",
13,TIMEX,Analog Black Dial Men's Watch-TWEG18508,"3,291","Monday, November 7"
14,Titan,Karishma Revive Analog Silver Dial Women's Wat...,"1,595","Monday, November 7"
15,Casio,Enticer Analog Blue Dial Men's Watch-MTP-VD01D...,"2,559",Watches
16,Titan,Karishma Revive Analog Champagne Dial Women's ...,"1,595",Top Brands
17,Fastrack,Party Analog Silver Dial Men's Watch-NL1474SM0...,"2,716","Monday, November 7"
18,Sonata,Analog Champagne Dial Men's Watch-NN77049YM01/...,599,"Monday, November 7"
19,Casio,Analog-Digital Black Dial Men's Watch-ECB-900D...,"13,596","Saturday, November 5"
20,Fastrack,Casual Analog White Dial Men's Watch NM3114PP0...,805,"Tuesday, October 18"
21,Titan,Analog Brown Dial Men's Watch-NL1584SL04/NP158...,"2,376","Monday, November 7"
22,Titan,Analog Champagne Dial Stainless Steel Strap Me...,"2,395","Tuesday, October 18"
23,Casio,Edifice Men's Tachymeter Chronograph EF-558SG-...,"15,995","Monday, November 7"
24,Fastrack,Casual Analog Silver Dial Men's Watch-NL3114PP...,835,"Monday, November 7"
25,Fastrack,Reflex Play + with BT Calling|AMOLED Display|1...,"6,994","Monday, November 7"
26,Fastrack,Casual Analog Blue Dial Men's Watch-NL3124SL02...,"1,435","Saturday, November 5"
27,Titan,Purple Fashion Basics Analog Red Dial Women's ...,"3,120",Watches
28,Fastrack,Hip Hop Analog White Dial Women's Watch-NL9827...,"1,960",Top Brands

In [48]:
df.isnull()

     Brand Name  Name of the Product  Price  Expected Delivery
0         False                False  False              False
1         False                False  False              False
2         False                False  False              False
3         False                False  False              False
4         False                False  False              False
..          ...                  ...    ...                ...
404       False                False  False              False
405       False                False  False              False
406       False                False  False              False
407       False                False  False              False
408       False                False  False              False

[409 rows x 4 columns]

In [20]:
driver.quit()

###### Q.3-Write a python program to access the search bar and search button on images.google.com and scrape 10images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [21]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://images.google.com/")
time.sleep(5)

In [50]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'gLFyf gsfi')]")
search_bar.send_keys('fruits')
search=driver.find_element(By.XPATH,"//button[contains(@class,'Tg7LZd')]")
search.click()
time.sleep(5)

In [51]:
fruits=[]
f=driver.find_elements(By.XPATH,"//a[contains(@class,'VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb')]")
for i in f[0:10]:
    fruits.append(i.get_attribute('href'))

In [52]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'gLFyf gsfi')]")
search_bar.send_keys('cars')
search=driver.find_element(By.XPATH,"//button[contains(@class,'Tg7LZd')]")
search.click()

In [53]:
cars=[]
c=driver.find_elements(By.XPATH,"//a[contains(@class,'VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb')]")
for i in c[0:10]:
    cars.append(i.get_attribute('href'))

In [54]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'gLFyf gsfi')]")
search_bar.send_keys('machine learning')
search=driver.find_element(By.XPATH,"//button[contains(@class,'Tg7LZd')]")
search.click()

In [56]:
machine=[i.get_attribute('href') for i in driver.find_elements(By.XPATH,"//a[contains(@class,'VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb')]")[0:10]]

In [40]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'gLFyf gsfi')]")
search_bar.send_keys('guitar')
search=driver.find_element(By.XPATH,"//button[contains(@class,'Tg7LZd')]")
search.click()

In [45]:
guitar=[i.get_attribute('href') for i in driver.find_elements(By.XPATH,"//a[contains(@class,'VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb')]")]

In [41]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'gLFyf gsfi')]")
search_bar.send_keys('cakes')
search=driver.find_element(By.XPATH,"//button[contains(@class,'Tg7LZd')]")
search.click()

In [42]:
cakes=[i.get_attribute('href') for i in driver.find_elements(By.XPATH,"//a[contains(@class,'VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb')]")]

In [48]:
data=list(zip(fruits,cars,machine,guitar,cakes))
df11=pd.DataFrame(data,columns=['FRUITS','CARS','MACHINE LEARNING','GUITAR','CAKES'])
print("\n IMAGES \n")
df11

 IMAGES

,FRUITS,CARS,MACHINE LEARNING,GUITAR,CAKES
0,https://www.goodhousekeeping.com/health/diet-n...,https://www.forbes.com/sites/jimgorzelany/2019...,https://levity.ai/blog/difference-machine-lear...,https://www.weddingwire.in/wedding-cakes/indore,https://www.weddingwire.in/wedding-cakes/indore
1,https://www.amazon.in/Fruits-Chart-Vidya-Chitr...,https://www.motor1.com/features/447037/coolest...,https://www.edureka.co/blog/ai-vs-machine-lear...,https://www.justdial.com/Indore/Cakes-More-Nea...,https://www.justdial.com/Indore/Cakes-More-Nea...
2,https://in.pinterest.com/pin/641340803167435998/,https://www.forbes.com/sites/kbrauer/2020/10/2...,https://medium.com/@harish_6956/what-is-machin...,https://www.womansday.com/food-recipes/a365021...,https://www.womansday.com/food-recipes/a365021...
3,https://onlymyenglish.com/fruits-name-english/,https://www.cardekho.com/cars/MG,https://serokell.io/blog/ai-ml-dl-difference,https://www.winni.in/cake/indore,https://www.winni.in/cake/indore
4,https://www.amazon.in/Fruits-All-One-Dreamland...,https://www.youtube.com/watch?v=tArC9-RHmU4,https://towardsdatascience.com/machine-learnin...,https://www.bbcgoodfood.com/recipes/collection...,https://www.bbcgoodfood.com/recipes/collection...
5,https://www.fruitsinfo.com/seasonal-fruit.htm,https://en.wikipedia.org/wiki/Cars_%28film%29,https://data-flair.training/blogs/deep-learnin...,https://www.landolakes.com/recipe/16714/birthd...,https://www.landolakes.com/recipe/16714/birthd...
6,https://in.pinterest.com/pin/649081365039047796/,https://www.roadandtrack.com/car-culture/buyin...,https://blogs.nvidia.com/blog/2016/07/29/whats...,https://www.landolakes.com/recipe/21329/rainbo...,https://www.landolakes.com/recipe/21329/rainbo...
7,https://engdic.org/10-fruits-name-with-picture...,https://www.youtube.com/watch?v=dip_8dmrcaU,https://www.springboard.com/blog/data-science/...,https://www.fnp.com/cakes,https://www.fnp.com/cakes
8,https://englishtivi.com/fruits-name-in-english/,https://unsplash.com/s/photos/cars,https://www.sap.com/insights/what-is-machine-l...,https://en.wikipedia.org/wiki/Cake,https://en.wikipedia.org/wiki/Cake
9,https://www.vectorstock.com/royalty-free-vecto...,https://www.pixar.com/feature-films/cars,https://levity.ai/blog/difference-machine-lear...,https://cakewhiz.com/best-birthday-cake-recipe/,https://cakewhiz.com/best-birthday-cake-recipe/

In [57]:
driver.quit()

###### Q.4.Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) onwww.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV

In [151]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com")
time.sleep(5)

In [154]:
search_bar=driver.find_element(By.XPATH,"//input[contains(@class,'_3704LK')]")
search_bar.send_keys('Oneplus Nord, pixel 4A')
search=driver.find_element(By.XPATH,"//button[contains(@class,'L0Z3Pu')]")
search.click()
time.sleep(5)

In [181]:
name=[]
n=driver.find_elements(By.XPATH,"//div[contains(@class,'_4rR01T')]")
for i in n:
    name.append(i.text)
detail=[]
d=driver.find_elements(By.XPATH,"//ul[contains(@class,'_1xgFaf')]")
for i in d:
    detail.append(i.text)
price=[]
p=driver.find_elements(By.XPATH,"//div[contains(@class,'_30jeq3 _1_WHN1')]")
for i in p:
    price.append(i.text)
url=[]
u=driver.find_elements(By.XPATH,"//a[contains(@class,'_1fQZEK')]")
for i in u:
    url.append(i.get_attribute('href'))
    
data=list(zip(name,detail,price,url)) 
df2=pd.DataFrame(data,columns=['smartphone','details','price','url'])
new=df2["details"].str.split('\n',n=1,expand=True)
df2["Ram/Rom"]=new[0]

new=df2["details"].str.split('\n',n=2,expand=True)
df2["Display"]=new[1]

new=df2["smartphone"].str.split('(',n=1,expand=True)
df2["Smartphone"]=new[0]
new=df2["smartphone"].str.split('(',n=2,expand=True)
df2["color"]=new[1]
new=df2["color"].str.split(',',n=1,expand=True)
df2["Colour"]=new[0]
new=df2["Smartphone"].str.split('N',n=1,expand=True)
df2["Brand"]=new[0]
new=df2["Smartphone"].str.split('N',n=2,expand=True)
df2["Phone"]=new[1]
df2.drop(columns=["smartphone","details","Smartphone","color"],inplace=True)
new_colm=["Brand","Phone","Colour","Ram/Rom","Display","price","url"]
df2=df2.reindex(columns=new_colm)
df2

,Brand,Phone,Colour,Ram/Rom,Display,price,url
0,OnePlus,ord 2T 5G,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,990",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
1,OnePlus,ord 2T 5G,Gray Shadow,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,980",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
2,OnePlus,ord 2T 5G,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,940",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
3,OnePlus,ord CE 5G,Charcoal Ink,8 GB RAM | 128 GB ROM,16.33 cm (6.43 inch) Display,"₹24,990",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
4,OnePlus,ord,Gray Onyx,6 GB RAM | 64 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹24,999",https://www.flipkart.com/oneplus-nord-gray-ony...
5,OnePlus,ord,Gray Onyx,12 GB RAM | 256 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹29,999",https://www.flipkart.com/oneplus-nord-gray-ony...
6,OnePlus,ord,Gray Onyx,8 GB RAM | 128 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹27,999",https://www.flipkart.com/oneplus-nord-gray-ony...
7,OnePlus,ord,Blue Marble,8 GB RAM | 128 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹27,999",https://www.flipkart.com/oneplus-nord-blue-mar...
8,OnePlus,ord,Blue Marble,6 GB RAM | 64 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹24,999",https://www.flipkart.com/oneplus-nord-blue-mar...
9,OnePlus,ord,Blue Marble,12 GB RAM | 256 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹29,999",https://www.flipkart.com/oneplus-nord-blue-mar...
10,OnePlus,ord CE 2 Lite 5G,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) HD+ Display,"₹19,400",https://www.flipkart.com/oneplus-nord-ce-2-lit...
11,OnePlus,ord CE 2 Lite 5G,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,890",https://www.flipkart.com/oneplus-nord-ce-2-lit...
12,OnePlus,ord CE2 Lite 5G,Blue Tide,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,899",https://www.flipkart.com/oneplus-nord-ce2-lite...
13,OnePlus,ord CE 2 Lite 5G,Black Dusk,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,325",https://www.flipkart.com/oneplus-nord-ce-2-lit...
14,OnePlus,ord CE 2 Lite 5G,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹18,999",https://www.flipkart.com/oneplus-nord-ce-2-lit...
15,OnePlus,ord CE 2 Lite 5G,Black Dusk,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,680",https://www.flipkart.com/oneplus-nord-ce-2-lit...
16,OnePlus,ord CE 2 Lite 5G,Black Dusk,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,899",https://www.flipkart.com/oneplus-nord-ce-2-lit...
17,OnePlus,ord 2T 5G,Gray Shadow,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹31,999",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
18,OnePlus,ord CE 2 5G,Bahama Blue,8 GB RAM | 128 GB ROM,16.33 cm (6.43 inch) Display,"₹24,797",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
19,OnePlus,ord 2T 5G,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,699",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
20,OnePlus,ord 2T 5G,Jade Fog,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹31,999",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
21,OnePlus,ord 2T 5G,Jade Fog,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹33,990",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
22,OnePlus,ord 2 5G,Gray Sierra,12 GB RAM | 256 GB ROM,16.33 cm (6.43 inch) Display,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-gra...
23,OnePlus,ord CE 2 Lite 5G,Blue Tide,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,849",https://www.flipkart.com/oneplus-nord-ce-2-lit...

In [185]:
csv=df2.to_csv()
csv

',Brand,Phone,Colour,Ram/Rom,Display,price,url\r\n0,OnePlus ,ord 2T 5G ,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,990",https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-128-gb/p/itm97eda8b1a1566?pid=MOBGGA29ZTGXG92P&lid=LSTMOBGGA29ZTGXG92PJLRHHW&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGGA29ZTGXG92P.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n1,OnePlus ,ord 2T 5G ,Gray Shadow,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,980",https://www.flipkart.com/oneplus-nord-2t-5g-gray-shadow-128-gb/p/itm97eda8b1a1566?pid=MOBGFX6BHG7H3AQG&lid=LSTMOBGFX6BHG7H3AQGOJIU9B&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGFX6BHG7H3AQG.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n2,OnePlus ,ord 2T 5G ,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,940",https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-128-gb/p/itm97eda8b1a1566?pid=MOBGFX6MGJWZMRWR&lid=LSTMOBGFX6MGJWZMRWRXEPOWV&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGFX6MGJWZMRWR.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n3,OnePlus ,ord CE 5G ,Charcoal Ink,8 GB RAM | 128 GB ROM,16.33 cm (6.43 inch) Display,"₹24,990",https://www.flipkart.com/oneplus-nord-ce-5g-charcoal-ink-128-gb/p/itmd6dcbd8116ed1?pid=MOBGDM4D6RNZR2SA&lid=LSTMOBGDM4D6RNZR2SA7IOH3F&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGDM4D6RNZR2SA.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n4,OnePlus ,ord ,Gray Onyx,6 GB RAM | 64 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹24,999",https://www.flipkart.com/oneplus-nord-gray-onyx-64-gb/p/itm49f817b591982?pid=MOBFUE5H57THFNVJ&lid=LSTMOBFUE5H57THFNVJSYCAHJ&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5H57THFNVJ.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n5,OnePlus ,ord ,Gray Onyx,12 GB RAM | 256 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹29,999",https://www.flipkart.com/oneplus-nord-gray-onyx-256-gb/p/itm49f817b591982?pid=MOBFUE5GGWHFC37J&lid=LSTMOBFUE5GGWHFC37JNXZLYZ&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_6&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5GGWHFC37J.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n6,OnePlus ,ord ,Gray Onyx,8 GB RAM | 128 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹27,999",https://www.flipkart.com/oneplus-nord-gray-onyx-128-gb/p/itm49f817b591982?pid=MOBFUE5HW4XUUGBN&lid=LSTMOBFUE5HW4XUUGBNMZB8TR&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_7&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5HW4XUUGBN.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n7,OnePlus ,ord ,Blue Marble,8 GB RAM | 128 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹27,999",https://www.flipkart.com/oneplus-nord-blue-marble-128-gb/p/itm49f817b591982?pid=MOBFUE5JWYDZX6HX&lid=LSTMOBFUE5JWYDZX6HXJZSHIV&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_8&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5JWYDZX6HX.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n8,OnePlus ,ord ,Blue Marble,6 GB RAM | 64 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹24,999",https://www.flipkart.com/oneplus-nord-blue-marble-64-gb/p/itm49f817b591982?pid=MOBFUE5N7KAGZHHC&lid=LSTMOBFUE5N7KAGZHHC6NVUQL&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_9&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5N7KAGZHHC.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n9,OnePlus ,ord ,Blue Marble,12 GB RAM | 256 GB ROM,16.36 cm (6.44 inch) Full HD+ Display,"₹29,999",https://www.flipkart.com/oneplus-nord-blue-marble-256-gb/p/itm49f817b591982?pid=MOBFUE5HUU5ZYGRY&lid=LSTMOBFUE5HUU5ZYGRY4ZWZZN&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_10&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBFUE5HUU5ZYGRY.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n10,OnePlus ,ord CE 2 Lite 5G ,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) HD+ Display,"₹19,400",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-blue-tide-128-gb/p/itm7acae55b999e6?pid=MOBGDWFJFBKYTEGP&lid=LSTMOBGDWFJFBKYTEGPWUJTLH&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_11&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGDWFJFBKYTEGP.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n11,OnePlus ,ord CE 2 Lite 5G ,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,890",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-blue-tide-128-gb/p/itm853d95cf27843?pid=MOBGG6SGBYXGNYMH&lid=LSTMOBGG6SGBYXGNYMHKWSNYG&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_12&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGG6SGBYXGNYMH.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n12,OnePlus ,ord CE2 Lite 5G ,Blue Tide,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,899",https://www.flipkart.com/oneplus-nord-ce2-lite-5g-blue-tide-128-gb/p/itm1932861f1c5e0?pid=MOBGHHXT2XK8EJ7M&lid=LSTMOBGHHXT2XK8EJ7MMT07BK&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_13&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHXT2XK8EJ7M.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n13,OnePlus ,ord CE 2 Lite 5G ,Black Dusk,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,325",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-black-dusk-128-gb/p/itm7acae55b999e6?pid=MOBGHH9FVUHCFHTY&lid=LSTMOBGHH9FVUHCFHTYYHZDXR&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_14&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHH9FVUHCFHTY.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n14,OnePlus ,ord CE 2 Lite 5G ,Blue Tide,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹18,999",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-blue-tide-128-gb/p/itm7acae55b999e6?pid=MOBGHHXQCZQVEQDG&lid=LSTMOBGHHXQCZQVEQDGOMHYPK&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_15&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHXQCZQVEQDG.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n15,OnePlus ,ord CE 2 Lite 5G ,Black Dusk,6 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹19,680",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-black-dusk-128-gb/p/itm7acae55b999e6?pid=MOBGDWF8GJTFAXVH&lid=LSTMOBGDWF8GJTFAXVHDPQ2PY&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_16&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGDWF8GJTFAXVH.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n16,OnePlus ,ord CE 2 Lite 5G ,Black Dusk,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,899",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-black-dusk-128-gb/p/itm7acae55b999e6?pid=MOBGHHXZYSZ4UWYG&lid=LSTMOBGHHXZYSZ4UWYGLBX687&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_17&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHXZYSZ4UWYG.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n17,OnePlus ,ord 2T 5G ,Gray Shadow,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹31,999",https://www.flipkart.com/oneplus-nord-2t-5g-gray-shadow-256-gb/p/itm97eda8b1a1566?pid=MOBGFX6GFUSXWRQN&lid=LSTMOBGFX6GFUSXWRQNGOM82S&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_18&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGFX6GFUSXWRQN.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n18,OnePlus ,ord CE 2 5G ,Bahama Blue,8 GB RAM | 128 GB ROM,16.33 cm (6.43 inch) Display,"₹24,797",https://www.flipkart.com/oneplus-nord-ce-2-5g-bahama-blue-128-gb/p/itm2a9883679c57c?pid=MOBGHHZ2CKB5D4WU&lid=LSTMOBGHHZ2CKB5D4WUNWQ8W2&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_19&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHZ2CKB5D4WU.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n19,OnePlus ,ord 2T 5G ,Jade Fog,8 GB RAM | 128 GB ROM,17.02 cm (6.7 inch) Display,"₹28,699",https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-128-gb/p/itm97eda8b1a1566?pid=MOBGHHYZVXCMYDSR&lid=LSTMOBGHHYZVXCMYDSRPLVB5G&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_20&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHYZVXCMYDSR.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n20,OnePlus ,ord 2T 5G ,Jade Fog,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹31,999",https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-256-gb/p/itm97eda8b1a1566?pid=MOBGFX6PB4EGYBW8&lid=LSTMOBGFX6PB4EGYBW8KGGLEN&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_21&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGFX6PB4EGYBW8.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n21,OnePlus ,ord 2T 5G ,Jade Fog,12 GB RAM | 256 GB ROM,17.02 cm (6.7 inch) Display,"₹33,990",https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-256-gb/p/itm97eda8b1a1566?pid=MOBGHHYHNZBQBPZY&lid=LSTMOBGHHYHNZBQBPZYUWDDFR&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_22&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGHHYHNZBQBPZY.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n22,OnePlus ,ord 2 5G ,Gray Sierra,12 GB RAM | 256 GB ROM,16.33 cm (6.43 inch) Display,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-gray-sierra-256-gb/p/itmc88e4a702db46?pid=MOBGDBFRAPSY7GFZ&lid=LSTMOBGDBFRAPSY7GFZK4SRDS&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_23&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGDBFRAPSY7GFZ.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n23,OnePlus ,ord CE 2 Lite 5G ,Blue Tide,8 GB RAM | 128 GB ROM,16.74 cm (6.59 inch) Display,"₹21,849",https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-blue-tide-128-gb/p/itm7acae55b999e6?pid=MOBGDY3QRGSPCZW3&lid=LSTMOBGDY3QRGSPCZW3KKZ5DE&marketplace=FLIPKART&q=one+plus+nord+&store=tyy%2F4io&srno=s_1_24&otracker=search&otracker1=search&fm=Search&iid=5dcd643a-1f08-44fa-afa9-0218efa42931.MOBGDY3QRGSPCZW3.SEARCH&ppt=sp&ppn=sp&ssid=u8yewxzh5c0000001664040839132&qH=d19badeb55b68a9e\r\n'

In [188]:
driver.close()

###### Q.6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [204]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://trak.in")
time.sleep(5)

In [209]:

date=[]
startup=[]
industry=[]
city=[]
invester=[]
Type=[]
amount=[]


    
d=driver.find_elements(By.XPATH,"//td[contains(@class,'column-2')]")
for i in d:
    date.append(i.text)
    
st=driver.find_elements(By.XPATH,"//td[contains(@class,'column-3')]")
for i in st:
    startup.append(i.text)
    
ind=driver.find_elements(By.XPATH,"//td[contains(@class,'column-4')]")
for i in ind:
    industry.append(i.text)
    
c=driver.find_elements(By.XPATH,"//td[contains(@class,'column-6')]")
for i in c:
    city.append(i.text)
    
inv=driver.find_elements(By.XPATH,"//td[contains(@class,'column-7')]")
for i in inv:
    invester.append(i.text)
    
T=driver.find_elements(By.XPATH,"//td[contains(@class,'column-8')]")
for i in T:
    Type.append(i.text)
    
a=driver.find_elements(By.XPATH,"//td[contains(@class,'column-9')]")
for i in a:
    amount.append(i.text)
start=1
end=3

    
data=list(zip(date,startup,industry,city,invester,Type,amount))
df6=pd.DataFrame(data,columns=["Date","Startup name","Industry","City","Invester","Invester type","Amount(in USD)"])
print("\nfunding deals from april21 to january21\n")
df6.head(28)

funding deals from april21 to january21

,Date,Startup name,Industry,City,Invester,Invester type,Amount(in USD)
0,01/04/2021,BYJU’S,Edu-tech,Bengaluru,Innoven Capital,Series F,"460,000,000"
1,05/04/2021,Meesho,E-commerce,Bengaluru,SoftBank Vision Fund 2,Series E,"300,000,000"
2,14/04/2021,Swiggy,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J,"343,000,000"
3,07/04/2021,Groww,FinTech,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D,"83,000,000"
4,14/04/2021,Beldara,E-commerce,Mumbai,Hindustan Media Ventures,Venture,"7,400,000"
5,04/03/2021,DealShare,E-commerce,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
6,31/03/2021,Uniphore,Technology,Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
7,30/03/2021,Dunzo,E-commerce,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
8,30/03/2021,BYJU’S,Edu-tech,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
9,23/03/2021,SkilloVilla,Edu-tech,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
10,25/03/2021,CityMall,E-commerce,Gurgaon,Accel Partners,Series A,"11,000,000"
11,26/03/2021,DotPe,FinTech,Gurgaon,PayU,Series A,"27,500,000"
12,11/02/2021,Doubtnut,Edu Tech,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
13,22/02/2021,Zomato,Hospitality,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
14,19/02/2021,Fingerlix,Hospitality,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
15,17/02/2021,Zolve,FinTech,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
16,15/02/2021,KreditBee,Finance,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
17,12/02/2021,Pepperfry,E-commerce,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
18,12/02/2021,Grofers,E-Commerce,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
19,09/02/2021,Nothing,Technology,London,GV,Series A,"15,000,000"
20,09/02/2021,SplashLearn,EdTech,Gurgaon,Owl Ventures,Series C,"18,000,000"
21,15/01/2021,Digit Insurance,Financial Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
22,28/01/2021,Bombay Shaving Company,Consumer Goods Company,New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
23,19/01/2021,DeHaat,AgriTech Startup,Patna,Prosus Ventures,Series C,"30,000,000"
24,19/01/2021,Darwinbox,SaaS,Mumbai,Salesforce Ventures,Seed,"15,000,000"
25,18/01/2021,mfine,Health Tech Startup,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
26,18/01/2021,Udayy,EdTech,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
27,11/01/2021,True Elements,Food Startup,Pune,SIDBI Venture Capital,Series,"100,000,000"

In [211]:
driver.quit()

### Q.7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [212]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://digit.in.")
time.sleep(5)

In [216]:
All=driver.find_element(By.XPATH,"/html/body/div[6]/div[1]/div/div/form/div/input")
All.send_keys("best gaming laptops")

In [243]:
name=[]
window=[]
display=[]
processor=[]
memory=[]
laptop=driver.find_elements(By.XPATH,"//div[contains(@class,'left_side')]")
for i in laptop:
    name.append(i.text)
a=driver.find_elements(By.XPATH,"//li[contains(@title,'Windows 11 Home OS')]")
for i in a:
    window.append(i.text)
b=driver.find_elements(By.XPATH,"//div[contains(@class,'product-detail')]")
for i in b:
    display.append(i.text)

data=list(zip(name,window,display))
df7=pd.DataFrame(data,columns=['Laptop_','Window','Display_'])
new=df7["Laptop_"].str.split('\n',n=2,expand=True)
df7["Laptop"]=new[1]
new=df7["Display_"].str.split('\n',n=2,expand=True)
df7["Display"]=new[1]
new=df7["Display_"].str.split('\n',n=3,expand=True)
df7["Processor"]=new[2]
new=df7["Display_"].str.split('\n',n=4,expand=True)
df7["Memory"]=new[3]
df7.drop(columns=["Laptop_","Display_"],inplace=True)
New_colm=['Laptop','Window','Processor','Display','Memory']
df7=df7.reindex(columns=New_colm)
df7

,Laptop,Window,Processor,Display,Memory
0,MSI Titan GT77-12UHS,Windows 11 Home OS,12th Gen Intel Core i9-12900HX | NA Processor,"17.3"" (3840 x 2160) Display",2 TB SSD/64 GB DDR5 Memory
1,Alienware X17 R2,Windows 11 Home OS,12th Gen Intel Core i9-12900H | 5 GHz Processor,"17.3"" (1920 x 1080) Display",1 TB SSD/32 GB DDR5 Memory
2,Acer Predator Triton 500 SE PT516-52s,Windows 11 Home OS,12th Gen Intel Core i7-12700H | 3.50 GHz Proce...,"16"" (2560 x 1600) Display",2 TB SSD/32 GB DDR5 Memory
3,Omen By HP (16-B1371TX),Windows 11 Home OS,12th Gen Intel Core I7-1255U | 1.7 GHz,"13.3"" (1920 X 1080))",512 GB SSD/16 GB DDR4
4,Acer Predator Helios 300 AN515-45 (NH.QBRSI.0,Windows 11 Home OS,12th Gen Intel Core i7-12700H | 4.7 GHz Processor,"16.1"" (2560 x 1440) Display",1 TB SSD/8 GB DDR5 Memory
5,MSI Delta 15 (A5EFK-083IN),Windows 11 Home OS,AMD Ryzen 9-5900HX | NA Processor,"15.6"" (2560 x 1440) Display",512 GB SSD/16 GB DDR4 Memory
6,Omen By HP (16-C0141AX),Windows 11 Home OS,AMD 5th Gen Ryzen 9-5900HX | 3.3GHz Processor,"15.6"" (1920 x 1080) Display",1 TB SSD/16 GBGB DDR4 Memory
7,Lenovo Legion 5i Pro (82RF00MGIN),Windows 11 Home OS,AMD Ryzen™ 9 5900HX | 3.3 GHz Processor,"16.1"" (2560 x 1440) Display",1 TB NVMe/16 GB DDR4 Memory
8,Alienware M15 R5 Ryzen Edition Icc-C780001win,Windows 11 Home OS,12th Gen Intel Core i7-12700H | 2.3 GHz Processor,"16"" (2560 x 1600) Display",1 TB SSD/16 GB DDR5 Memory
9,Lenovo Slim 7 Gen 6 (82K8002JIN),Windows 11 Home OS,AMD Ryzen R7-5800H | 4.40 GHz Processor,"15.6"" (1920 x 1080) Display",512 GB SSD/16 GB DDR4 Memory

In [244]:
driver.quit()

### Q.8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [247]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://forbes.com")
time.sleep(5)

In [264]:
rank=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'rank')]")]
name=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'personName')]")]
networth=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'netWorth')]")]
age=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'age')]")]
citigen=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'countryOfCitizenship')]")]
source=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'source-text')]")]
industry=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'category')]")]
rank.pop(0)
name.pop(0)
networth.pop(0)
age.pop(0)
citigen.pop(0)
industry.pop(0)
data=list(zip(rank,name,networth,age,citigen,source,industry))
df8=pd.DataFrame(data,columns=['RANK','NAME','NET WORTH','AGE','CITIGENSHIP','SOURCE','INDUSTRY'])
df8

,RANK,NAME,NET WORTH,AGE,CITIGENSHIP,SOURCE,INDUSTRY
0,1.,Elon Musk,$219 B,AGE,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,50,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,58,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,73,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,66,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,56,Brazil,beer,Food & Beverage
196,197.,Leon Black,$10 B,72,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,$10 B,70,United States,Airbnb,Technology
198,197.,David Geffen,$10 B,40,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,$10 B,79,China,semiconductors,Manufacturing

In [265]:
df8.isnull()

      RANK   NAME  NET WORTH    AGE  CITIGENSHIP  SOURCE  INDUSTRY
0    False  False      False  False        False   False     False
1    False  False      False  False        False   False     False
2    False  False      False  False        False   False     False
3    False  False      False  False        False   False     False
4    False  False      False  False        False   False     False
..     ...    ...        ...    ...          ...     ...       ...
195  False  False      False  False        False   False     False
196  False  False      False  False        False   False     False
197  False  False      False  False        False   False     False
198  False  False      False  False        False   False     False
199  False  False      False  False        False   False     False

[200 rows x 7 columns]

In [266]:
driver.quit()

### Q.9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [322]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.youtube.com/watch?v=g6fnFALEseI")

In [326]:
title=driver.find_element(By.XPATH,"//h1[contains(@class,'title style-scope ytd-video-primary-info-renderer')]").text
print(title)

Kesariya - Official Lyric|Brahmāstra|Ranbir, Alia, Pritam, Arijit Singh, Amitabh

In [327]:
Comment=[]
comment=driver.find_elements(By.XPATH,"//div[contains(@class,'style-scope ytd-expander')]")
for i in comment:
    Comment.append(i.text)

upvote=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@id,'vote-count-middle')]")]

data=list(zip(Comment,upvote))
df9=pd.DataFrame(data,columns=['COMMENT','UPVOTE'])
print(title)
df9.head(8)

Kesariya - Official Lyric|Brahmāstra|Ranbir, Alia, Pritam, Arijit Singh, Amitabh

                                             COMMENT UPVOTE
0                                                         8
1  The nation’s favorite love song, “Kesariya” fe...      4
2                                    Very nice song     306
3                                         Nice song️      1
4  The old classical vibe of music is back with A...    106
5                                         Nice song       2
6  Arijit Singh is the legend of this generation....    208
7                                         Nice  song    239

In [328]:
driver.quit()

### Q.10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description

In [329]:
driver =webdriver.Chrome(r"chromedriver.exe")
driver.get(" https://www.hostelworld.com")

In [330]:
All=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[1]/div/div/div/input")
All.send_keys('london')

In [331]:
names=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'title title-6')]")]
distance=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'description')]")]
rating=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'score orange big')]")]
totalreviews=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'reviews')]")]
overall=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'keyword')]")]
price=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'price title-5')]")]
dorms=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'price-label body-3')]")]
facility=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'rating-factors prop-card-tablet rating-factors small')]")]

In [334]:
data=list(zip(names,distance,rating,totalreviews,overall,dorms,facility,price))
df10=pd.DataFrame(data,columns=['Hostel name','Distance from the city','Ratings','Total reviews','Overall review','Dorms','Facilities','Price'])
df10

,Hostel name,Distance from the city,Ratings,Total reviews,Overall review,Dorms,Facilities,Price
0,St Christopher's Village,Hostel - 1.8km from city centre,8.2,11540 Total Reviews,Fabulous,Dorms From,Perfect Location\nSuperb Staff\nExcellent Clea...,Rs2829.6 Rs2547
1,Urbany Hostel London,Hostel - 5.4km from city centre,9.3,476 Total Reviews,Fabulous,Privates From,Perfect Location\nSuperb Staff\nFantastic Clea...,Rs16976
2,Generator London,Hostel - 3km from city centre,7.8,7168 Total Reviews,Fabulous,Privates From,Perfect Location\nMarvellous Staff\nExcellent ...,Rs20163
3,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,7.0,4525 Total Reviews,Superb,Dorms From,Wonderful Location\nBrilliant Staff\nAwesome C...,Rs2435
4,No.8 Willesden Hostel London,Hostel - 10km from city centre,6.6,4853 Total Reviews,Very Good,Privates From,Great Location\nMarvellous Staff\nAwesome Clea...,Rs2613
5,Destinations Hostels @ The Gallery,Hostel - 1.7km from city centre,9.4,40 Total Reviews,Very Good,Dorms From,Perfect Location\nSuperb Staff\nFantastic Clea...,Rs1172
6,Saint James Backpackers,Hostel - 5.5km from city centre,6.9,1828 Total Reviews,Good,Dorms From,Perfect Location\nSuperb Staff,Rs3969
7,St Christopher's Shepherds Bush,Hostel - 7km from city centre,7.5,714 Total Reviews,Superb,Privates From,Perfect Location\nSuperb Staff\nExcellent Clea...,Rs8933
8,Selina Camden,Hostel - 5.5km from city centre,8.3,36 Total Reviews,Good,Dorms From,Perfect Location\nSuperb Staff\nFantastic Clea...,Rs4822
9,PubLove @ The Rose & Crown,Hostel - 1.6km from city centre,7.9,151 Total Reviews,Very Good,Dorms From,Perfect Location\nSuperb Staff\nAwesome Cleanl...,Rs2633.9 Rs2371
10,London Waterloo Hostel,Hostel - 0.7km from city centre,6.0,2512 Total Reviews,Fabulous,Dorms From,Wonderful Location\nMarvellous Staff,Rs8468.21 Rs7198
11,Britannia Inn Hotel,Hotel - 14.5km from city centre,8.5,23 Total Reviews,Very Good,Dorms From,Wonderful Location\nSuperb Staff\nExcellent Cl...,Rs4234
12,City Hotel Carlton,Hotel - 1.8km from city centre,7.5,45 Total Reviews,Good,Dorms From,Perfect Location\nMarvellous Staff\nAwesome Cl...,Rs3681
13,Kip Hotel,Hotel - 6.8km from city centre,6.6,54 Total Reviews,Fabulous,Privates From,Nice Location\nSuperb Staff\nExcellent Cleanli...,Rs17201
14,Elmwood Hotel,Hotel - 3.2km from city centre,7.0,117 Total Reviews,Very Good,Privates From,Perfect Location\nBrilliant Staff\nExcellent C...,Rs20347
15,London House Hotel,Hotel - 5.3km from city centre,9.4,1382 Total Reviews,Good,Privates From,Wonderful Location\nSuperb Staff\nFantastic Cl...,Rs11761
16,Barry House,Bed and Breakfast - 4.2km from city centre,6.6,16 Total Reviews,Very Good,Privates From,Perfect Location\nMarvellous Staff\nAwesome Cl...,Rs14702
17,Cranbrook Hotel,Hotel - 14.8km from city centre,8.0,58 Total Reviews,Superb,Privates From,,Rs31201.34 Rs21841

In [335]:
driver.quit()